body{
    background-color: white;
}

#div2::after, #div3, #div4::after{
    box-shadow: 0 0 20px black;
}

#div1 #div2{
    position: relative;
}

#div1 #div4{
    position: relative;
}

#div1 #div4::after{
    border-radius: 10px;
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: -1; 
}

#div1 #div2::after {
    border-radius: 10px;
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: -1;
}

#div1{
    width: 100%;
    height: auto;
}

#div2{
    background-color: #1ed760;
    padding: 1%;
    width: 15%;
    border-radius: 10px;
}
#div3{
    margin-top: -3%;
    background-color: #1ed760;
    border-radius: 10px;
    padding: 1%;
    font-size: 2vw;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}

#subscriptions{
    border: 2px solid white;
    border-radius: 20px;
    background: radial-gradient(circle farthest-side at 30px 20px, #1ed760, green)
}
#subscriptions:hover{
    border: black 2px solid;
    
    background: radial-gradient(circle farthest-side at 30px 20px, #1ed760, #bac9bf)
}

footer{
    padding: 1%;
    border: black 2px solid;
    border-radius: 10px;
    background-color: none;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 63%;
    padding-top: 2%;
    padding-bottom: 2%;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    margin: 2%;
}

article{
    padding: 1%;
    font-family: Tahoma;
    font-weight: bold;
    text-indent: 2vw;
}

article:hover{
    color: white;
    font-family: Geneva;
}
span.my{
    color: white;
}

span.my:hover{
    color: black;
}